.slider-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 72%;
    height: 100vh;
    overflow: hidden;
    transition: all ease-out .5s;
}

@media screen and (max-width: 1000px) {
    .slider-container {
        width: calc(100% - 150px);
    }
}

@media screen and (max-width: 800px) {
    .slider-container {
        width: 100%;
    }
}