.tasks-wrapper {
    transition: all ease-out .5s;
    overflow: hidden;
}

.todo {
    .image-container {
        background-color: $todo-light;
    }
}

.done {
    .image-container {
        background-color: $done-light;
    }
}

.task-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: calc(80% - 70px);
    height: 100vh;
    margin-left: 10%;
    margin-right: calc(10% + 70px);
    transition: all ease-out .5s;
}

.subtitle {
    font-family: $primary-font;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    transition: color ease-out .2s;
}

.task-content {
    margin: 50px 0;
    max-height: 250px;
    overflow-y: scroll;
}

.task-navigation {
    position: absolute;
    top: 50%;
    width: 40px;
    right: 10%;
    transform: translateY(-50%);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
        font-family: $primary-font;
        font-size: 1.125em;
        text-align: center;
    }
}

.navigation-arrow {
    &:nth-of-type(1) {
        transform: rotate(180deg);
    }
}

.image-container {
    position: absolute;
    top: 10%;
    right: 0;
    width: 20vw;
    height: 20vw;
    min-width: 60px;
    min-height: 60px;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: background-color ease-out .2s;
    opacity: .5;

    span {
        display: block;
        font-size: 1.500em;
        font-family: $primary-font;
        color: #FFF;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 500px) {
    .task-navigation {
        bottom: 5vw;
        top: auto;
        transform: none;
        left: 10vw;
        flex-direction: row;
        width: 150px;
        align-items: center;
        height: 100px;
    }

    .navigation-arrow {
        width: 40px;

        &:nth-of-type(1) {
            transform: rotate(90deg);
        }    
        &:nth-of-type(2) {
            transform: rotate(-90deg);
        }
    }

    .task-container {
        justify-content: flex-start;
        padding-top: 50px;
        max-width: 80%;
    }

    .image-container {
        top: 50px;
    }
}