$todo-light: #90E0EF;
$todo-dark: #054993;
$done-light: #FFE156;
$done-dark: #E27E05;
$task-light: #FFCD5F;
$task-dark: #A41623;
$primary-font: 'Lilita One', sans-serif;
$secondary-font: 'Poppins', sans-serif;